/*================================================================================*/
/* 全体のレイアウト*/
html,body {
  height: 100%;
}
body {
  background: #0f3854;
  background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
  background-size: 100%;
}

.counter-container {
  text-align: center;
  padding: 50px;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}


/*================================================================================*/
/* タイトルのレイアウト*/
.Title {
  font-size: 70px; /* 日付のサイズ */
  white-space: pre-wrap;
  margin-bottom: 20px;
  color: #ffffff;
}


/*================================================================================*/
/* 時計のレイアウト */
.clock-area {
  text-align: center;
  color: #ffffff; /* デジタルグリーン */
}

.time-display {
  font-size: 96px; /* 時刻のサイズ */
  font-weight: bold;
  color: #ffffff; /* 時計の色 */
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

.date-display {
  font-size: 24px; /* 日付のサイズ */
  color: #ffffff; /* 日付の色 */
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}


/*================================================================================*/
/* カウンターのレイアウト */
.count-area {
  text-align: center;
  color: #ffffff; /* デジタルグリーン */
}

.display {
  width: 50%;
  margin:  0 auto; 
  font-size: 96px; /* 文字のサイズ */
  color: #ffffff; /* カウントの色 */
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
}

/*================================================================================*/
/* ボタンのレイアウト */
.btn-text {
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

.btn0 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 50px;
  background: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn0:hover {
  background-color: #0056b3;
}

.btn0:active {
  transform: scale(0.95);
}

.btn {
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  margin: 0 5px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:active {
  transform: scale(0.95);
}

